.item {
    width: 100%;
    height: 100%;
    background: #fff;
}

.item .center {
    width: 100%;
    height: 26rem;
    background: #fff;
}

/* 轮播图 */

.swiper-wrap {
    width: 100%;
    height: 19rem;
    position: relative;
    z-index: 1;
}

.swiper-wrap img {
    width: 100%;
    height: 100%;
}

.item .center-txt {
    width: 90%;
    height: 2rem;
    margin-top: 1rem;
    margin-left: 5%;
    text-overflow: ellipsis;
    line-height: 1.4em;
    font-size: 0.7rem;
    overflow: hidden;
}

.item .center-price {
    font-size: 0.8rem;
    color: #f93036;
    width: 90%;
    margin-left: 5%;
    margin-top: 0.5rem;
    height: auto;
}

.item .center-total {
    width: 100%;
    height: 2.5rem;
    display: flex;
    display: -webkit-flex;
    line-height: 2.5rem;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.item .center-total div {
    font-size: 0.6rem;
    color: #969696;
    text-align: center;
}

.item .center-total .total-item1 {
    padding-left: 0.8rem;
}

.item .center-total .total-item2 {
    padding-right: 0.8rem;
}

.item .back-inine {
    width: 100%;
    height: 2.5rem;
    background: rgb(245, 244, 249);
}

.item .footer {
    display: flex;
    display: -webkit-flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3rem;
}

.item .footer .like {
    width: 50%;
    height: 100%;
    background: #FCB40A;
    font-size: 0.9rem;
    font-weight: bold;
    color: #fff;
    line-height: 3rem;
    text-align: center;
}

.item .footer .join-cart {
    width: 50%;
    height: 100%;
    background: #CC0004;
    font-size: 0.9rem;
    font-weight: bold;
    color: #fff;
    line-height: 3rem;
    text-align: center;
}

/* 商品评价 */

.item .recommen {
    width: 90%;
    margin-left: 5%;
    height: auto;
    text-align: left;
    background: #fff;
    padding: 1rem 0 4.5rem 0;
}

.item .recommen .txt {
    font-size: 0.8rem;
    color: #000;
    width: 100%;
    height: auto;
}

.item .recommen .view {
    width: 100%;
    height: auto;
    margin-top: 0.5rem;
}

.item .recommen .view .user {
    width: 100%;
    height: 1.8rem;
    display: flex;
    display: -webkit-flex;
}

.item .recommen .view .user img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
}

.item .recommen .view .user .name {
    font-size: 0.8rem;
    color: #000;
    width: 50%;
    height: auto;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.item .recommen .view .point {
    width: 100%;
    height: 0.9rem;
    line-height: 0.9rem;
    overflow: hidden;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.item .recommen .view .time {
    font-size: 0.7rem;
    width: 100%;
    height: auto;
    margin-top: 0.5rem;
    color: #7b7f82;
}

.item .recommen .btn {
    width: 6.1rem;
    height: 1.4rem;
    margin-top: 1.5rem !important;
    border: 1px solid #D50A17;
    line-height: 1.4rem;
    font-size: 0.7rem;
    margin: 0 auto;
    text-align: center;
    border-radius: 0.2rem;
}

/* 点击事件遮罩层 */

.mask {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

.panel {
    width: 100%;
    height: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 99;
}

.panel.down {
    transform: translate(120%);
    -webkit-transform: translate(120%);
    -webkit-transition: transfrom 0.3s;
    transition: transfrom 0.3s;
}

.panel.up {
    transform: translate(0%);
    -webkit-transform: translate(0%);
    -webkit-transition: transfrom 0.3s;
    transition: transfrom 0.3s;
}

.panel .desc {
    width: 100%;
    height: 3rem;
    border-bottom: 1px solid #EFEFEF;
    background: red;
    display: flex;
    display: -webkit-flex;
    background: #fff;
}

.panel .desc .left {
    width: 20%;
    height: 100%;
}

.panel .desc .left .clone {
    width: 2rem;
    height: 2rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.panel .desc .left .clone img {
    width: 100%;
    height: 100%;
}

.panel .desc .right {
    width: 70%;
    height: 100%;
}

.panel .desc .right .txt {
    width: 100%;
    height: 1.7rem;
    font-size: 0.6rem;
    overflow: hidden;
    line-height: 0.8rem;
    margin-top: 0.3rem;
    color: #323232;
    text-align: left;
    font-weight: normal !important;
}

.panel .desc .right .price {
    width: 100%;
    height: 1rem;
    display: flex;
    display: -webkit-flex;
}

.panel .desc .right .price .item1 {
    width: 50%;
    height: 100%;
    font-size: 0.6rem;
    color: #F73F46;
    line-height: 1rem;
    text-align: left;
}

.panel .desc .right .price .item2 {
    width: 50%;
    height: 100%;
    font-size: 0.6rem;
    color: #888888;
    line-height: 1rem;
    text-align: right;
}

.panel .desc .close {
    width: 7.5%;
    height: 50%;
    margin-left: 2%;
    margin-top: 0.5rem;
}

.panel .desc .close img {
    width: 100%;
    height: 100%;
}

.panel .banner {
    width: 100%;
    height: 10rem;
    background: #fff;
}

.panel .banner .iScroll {
    width: 100%;
    max-height: 7.5rem;
    /* 解决iOS滚动卡顿 */
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.panel .banner .header {
    width: 95%;
    height: 2rem;
    line-height: 2rem;
    overflow: hidden;
    font-size: 0.8rem;
    padding-left: 5%;
    font-weight: normal !important;
    text-align: left;
}

.panel .banner .item {
    width: 95%;
    height: 1.8rem;
    padding-left: 5%;
    display: flex;
    display: -webkit-flex;
}

.panel .banner .item .bak-color {
    width: 2.4rem;
    height: 100%;
    background: #EFEFEF;
    line-height: 1.8rem;
    text-align: center;
    font-size: 0.7rem;
    border-radius: 0.2rem;
    margin-right: 0.5rem;
    color: #323232;
    font-weight: normal !important;
}

.panel .banner .item .bak-color.color {
    width: 2.4rem;
    height: 100%;
    background: #FDA208;
    line-height: 1.8rem;
    text-align: center;
    font-size: 0.7rem;
    border-radius: 0.2rem;
    margin-right: 0.5rem;
    color: #ffffff;
    font-weight: normal !important;
}

.panel .banner .number {
    width: 95%;
    height: 2.5rem;
    padding-left: 5%;
    display: flex;
    display: -webkit-flex;
}

.panel .banner .number .item1 {
    width: 50%;
    height: 100%;
    line-height: 2.5rem;
    font-size: 0.8rem;
    overflow: hidden;
    text-align: left;
    font-weight: normal !important;
}

.panel .banner .number .item2 {
    width: 50%;
    height: 100%;
}

.panel .banner .number .item2 .border {
    width: 5rem;
    height: 1.5rem;
    border: 1px solid #000000;
    border-radius: 0.2rem;
    display: -webkit-flex;
    display: flex;
    margin-top: 0.5rem;
    margin-left: 3rem;
}

.panel .banner .number .item2 .border .b1 {
    width: 1.5rem;
    height: 1rem;
    border-right: #B5B5B5 solid 1px;
    color: #B5B5B5;
    text-align: center;
    line-height: 1rem;
    margin-top: 5%;
}

.panel .banner .number .item2 .border .b2 {
    width: 1.9rem;
    height: 1rem;
    border-right: #B5B5B5 solid 1px;
    text-align: center;
    line-height: 1rem;
    margin-top: 5%;
    font-size: 0.7rem;
}

.panel .banner .number .item2 .border .b3 {
    width: 1.5rem;
    height: 1rem;
    border-right: #B5B5B5 solid 1px;
    color: #000000;
    text-align: center;
    line-height: 1rem;
    margin-top: 5%;
}

.panel .inline {
    width: 100%;
    height: 5rem;
    background: rgb(245, 244, 249);
}

.panel .sure {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    background: #CF0005;
    color: #fff;
    font-size: 0.8rem;
}